<div class="banner">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/images/beam2.jpg" alt="beam light">
            <div class="carousel-caption">
              <h1><b>Apresentamos a vocês o WisePeek</b></h1><br><br><br><br><br><br><br>
              <h1>THE BEST WAY TO FOLLOW YOUR NEWS</h1><br>
              <h3>WITH ANOTHER POINT OF VIEW</h3>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <h3>Junte-se a nós e vamos revolucionar a maneira de como informação é transimitida!</h3>
            </div>
          </div>
          <div class="item">
            <img src="/images/logos2.jpg" alt="meios de comunicação brasil">
          </div>
          <div class="item">
            <img src="/images/ukraine1.jpg" alt="ukraine ucrania guerra">
            <div class="carousel-caption">
              <h2 class="color"><b>WisePeek é um portal de informações construído totalmente pelo usuário!</b></h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <h2>Aqui o conteúdo é feito por qualquer pessoa, e através de votos são selecionados os artigos que aparecerão na página principal e terão maior destaque!</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <h2>Você já parou para se perguntar o que um cidadão Ucraniano diria sobre os acontecimentos recentes de lá?</h2>
            </div>
          </div>
          <div class="item">
            <img src="/images/copa1.jpg" alt="contraste copa do mundo">
            <div class="carousel-caption">
                <h2>Você gostaria de dizer o que você pensa sobre a Copa no Brasil?</h2>
            </div>
          </div>
          <div class="item">
            <img src="/images/beach.jpg" alt="Praia Kombi">
            <div class="carousel-caption">
                <h2>Ou simplesmente compartilhar a experiência daquela inesquecível viagem que você fez?</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h2>O WisePeek é o lugar! Venha fazer parte disso e revolucionar a maneira como a informação é transmitida na nossa sociedade!</h2>
            </div>
          </div>
        </div><!-- .carousel-inner --> 

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- .carousel --> 
    </div><!-- .banner --> 


<hr class="divider">