
<div class="visible-xs">
  <footer>
  <h3 class="black">Seja bem-vindo à versão mobile do WisePeek! Aqui vai uma breve introdução a respeito de nós.</h3>
  <p class="black">Quantas vezes vemos pessoas reclamando da mídia em nossa sociedade? O WisePeek veio para mudar isso! Ele funciona como um portal de notícias comum, como o UOL, G1, Terra. Mas nele, o conteúdo é criado pelos próprios usuários, assim como são os usuários que votam nos artigos que acharem mais interessantes, e os artigos mais votados receberão destaque, aparecendo nas páginas principais! Venha fazer parte dessa corrente e vamos mudar o meio em que a informação é passada em nossa sociedade!</p>
  </footer>

  <hr class="divider">
</div>


<div class="hidden-xs">
<footer>
<div class="container">
<div class="banner">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/images/beam2.jpg" alt="beam light">
            <div class="carousel-caption">
              <h1 class="black"><b>Apresentamos a vocês o WisePeek</b></h1><br>
              <h1 class="black">THE BEST WAY TO FOLLOW YOUR NEWS</h1>
              <h3 class="black">WITH ANOTHER POINT OF VIEW</h3>
              <h3 class="black">Junte-se a nós e vamos revolucionar a maneira de como informação é transimitida!</h3>
            </div>
          </div>
          <div class="item">
            <img src="/images/logos.jpg" alt="meios de comunicação brasil">
            <div class="carousel-caption"><div class="visual">
              <h2 class="black">Você sempre recebe informações através dos mesmos meios?<br><br>Acredita que seria legal uma forma alternativa de consumir conteúdo?<br><br>E além de consumir conteúdo, seria legal também ter o poder de produzir algo legal e ter um grande destaque?<br><br></h2></div><br><br><br>
            </div>
          </div>
          <div class="item">
            <img src="/images/ukraine1.jpg" alt="ukraine ucrania guerra">
            <div class="carousel-caption"><div class="visual">
              <h2 class="black"><b>WisePeek é um portal de informações construído totalmente pelo usuário!</b></h2>
              <h2 class="black">Aqui o conteúdo é feito por qualquer pessoa, e através de votos são selecionados os artigos que aparecerão na página principal e terão maior destaque!</h2>
              <h2 class="black">Você já parou para se perguntar o que um cidadão Ucraniano diria sobre os acontecimentos recentes de lá?</h2></div>
            </div>
          </div>
          <div class="item">
            <img src="/images/copa1.jpg" alt="contraste copa do mundo">
            <div class="carousel-caption"><div class="visual">
                <h2 class="black">Você gostaria de dizer o que você pensa sobre a Copa no Brasil?</h2></div>
            </div>
          </div>
          <div class="item">
            <img src="/images/beach.jpg" alt="Praia Kombi">
            <div class="carousel-caption"><div class="visual">
                <h2 class="black">Ou simplesmente compartilhar a experiência daquela inesquecível viagem que você fez?</h2>
                <h2 class="black">O WisePeek é o lugar! Venha fazer parte disso e revolucionar a maneira como a informação é transmitida na nossa sociedade!</h2></div>
            </div>
          </div>
        </div><!-- .carousel-inner --> 

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- .carousel --> 
    </div><!-- .banner --> 
  </div><br><br><br>
      <div class="login">
      <h3> Faça seu login agora! </h3>
      <br>
      <%= link_to image_tag("/images/face.jpg"), user_omniauth_authorize_path(:facebook) %>
      <br>
      <h2><%= link_to "Criar conta sem Facebook", new_user_registration_path %></h2>
    </div>
</footer>

<hr class="divider">

</div><!-- hidden-xs -->



