<footer> 
      <p>Estamos em fase de desenvolvimento, adoraríamos ouvir sugestões ou ficar sabendo de erros no site!<br><br> Contacte-nos pelo email <a href="http://www.gmail.com" target="_blank">contato.wisepeek@gmail.com</a></p>
</footer>