<footer>

<h2 class="text-muted">O que é o WisePeek?</h2>
<h3 class="black">O WisePeek é um portal de notícias, assim como UOL, G1, Terra. Porém, nele o conteúdo é construído pelos usuários!</h3>

<h2 class="text-muted">Como garantir que apenas conteúdo de qualidade seja mostrado no site?</h2>
<h3 class="black">O WisePeek conta com um sistema de votação, no qual apenas os artigos com um maior número de votos recebem destaque nas páginas principais. Assim, o próprio modo como o WisePeek é construído funciona como filtragem para selecionar apenas conteúdo de qualidade!</h3>
<br>
<h2 class="text-muted">Mas então um artigo mais antigo terá vantagem perante um mais novo? Visto que ele já teve chances de receber um número muito maior de votos.</h2>
<h3 class="black">Definitivamente não! O site conta com um sistema inteligente que permite que certa notícias seja exibida nas páginas principais apenas por um certo período de tempo, e depois ela é descartada(o artigo vai continuar existindo e constando no perfil do usuário que o publicou, mas não terá mais a possiblidade de aparecer nas páginas principais).</h3>
<br>
<h2 class="text-muted">E quanto tempo demora até que isso ocorra?</h2>
<h3 class="black">Nós do WisePeek estamos sempre ligados no movimento do site e atentos ao perfeito funcionamento de tudo! Vamos aumentar ou diminuir este número de acordo com o movimento de artigos novos criados no site!</h3>



</footer>