
   		<div class="main">
   		  <div class="text-center">
   		  	<h1> Manchete principal</h1>
   		  </div>
   			
		  <div class="col-md-7">
			<%= render "carousel.html.erb" %>
		  </div>

		  <div class="col-md-5">
		  	<h1>Manchete Principal 2</h1>
		  </div>
		</div><!-- .main --> 
		
		<br><br><br>

   		<div class="container">
   		     			
		  <div class="col-md-4">
			<h1>Manchete Principal 3</h1>
		  </div>

		  <div class="col-md-4">
		  	<h1>Manchete Principal 4</h1>
		  </div>

		  <div class="col-md-4">
		  	<h1>Manchete Principal 5</h1>
		  </div>
		</div><!-- .container -->

		
	
</html>