.banner img {
	 width: 100%;
}

.suave img{
	width: 60%;
}


h7{
	font-family: 'Marck Script', cursive;
	font-size: 25px;
}

h8{
	font-family: 'Marck Script', cursive;
	font-size: 35px;
}
