* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear {
	clear: both;
}



/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/
.divider {
  margin: 80px 0; 
}

.centro {
	width: 1100px;
	margin: 0 auto 0 auto;
}

.login {
  width: 400px;
  padding: 100px;
  border-radius: 50px;
  background: rgba(231,227,227,0.75);
  padding-top: 30px;
  height: 300px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.preto{
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}

.black{
  color: #FFB186;
  font-family: 'Maven Pro', sans-serif;
}

footer {
  background: url('/images/grey-texture.jpg');
  padding: 40px;
}

.visual{
  background: rgba(0,0,0,0.5);
}


/*
.faixa {
	background-image:url('/images/show.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10px;
}


.branco {
	 color: white;
	 text-align: center;
	 font-family: 'Maven Pro', sans-serif;
}

.color {
   color: #DCAD65;
   text-align: center;
   font-family: 'Maven Pro', sans-serif;
}
*/
